<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="images/fav.ico">
    <link rel="stylesheet" href="css/bootstrap-theme.css" charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" charset="UTF-8">
    <link rel="stylesheet" href="css/matong.css" charset="UTF-8">
    <script src="js/jquery-3.3.1.min.js" charset="UTF-8"></script>
    <script src="js/bootstrap.min.js" charset="UTF-8"></script>
    <script src="js/matong.js" charset="UTF-8"></script>
    <title>码瞳社区</title>
</head>
<body class="body-background" style="height: 1800px;">
<nav class="navbar navbar-default">
    <div class="container-fluid" style="margin-left: 230px;">
        <div class="navbar-header">
<!--            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
<!--                <span class="sr-only">码瞳社区</span>-->
<!--            </button>-->
                <a href="/"><img src="images/logofont.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题。。。">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 200px;">
                <li th:if="${session.user == null}">
<!--                    <a id="unlogin" href="javascript()"></a>-->
                    <button id="unlogin-fabu" type="button" class="btn btn-info unlogin-fabu">发布</button>
                </li>
                <li th:if="${session.user == null}">
                    <button id="login" type="button" class="btn btn-primary login">登录</button>
<!--                    <a href="https://github.com/login/oauth/authorize?client_id=d2df38480a2f3f08e6db&redirect_uri=http://localhost:8097/callback&scope=user&state=1">登录</a>-->
                </li>
                <li th:if="${session.user != null}">
                    <button id="login-fabu" type="button" class="btn btn-info unlogin-fabu">发布</button>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[${session.user.getName()}]]<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row" style="height: 1600px; ">
        <div name="list" class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;发现</h3>
            <hr>
            <div class="media" style="line-height: 20px; border-bottom: #f4f4f4 solid 1px;" th:each="message : ${pageInfo.list}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail" th:src="@{${message.pic_url}}">
                    </a>
                </div>
                <div class="media-body" style="padding-bottom: 13px;">
                    <a style="text-decoration:none;font-size: 18px;" th:text="${message.title}"></a><br>
                    <span class="fu-title"></span>分类• <a style="font-size: 11px;text-decoration:none;" class="aw-user-name"><span th:text="${message.name}"></span></a><span class="fu-title" >发表了文章 • </span>
                    <span class="fu-title" th:text="${message.comment_count}"></span><span class="fu-title" >人回复 • </span><span class="fu-title" th:text="${message.view_count}"></span><span class="fu-title" >次浏览 • </span><span class="fu-title" th:text="${message.gmt_create}"></span>
                </div>
            </div>
            <div style="float: right;">
            <ul class="pagination">

                <li class="page-item" th:if="${pageInfo.pageNum!=1}"><a class="page-link" th:href="@{/(pageNum=1)}">首页</a></li>
                <li class="page-item" th:if="${pageInfo.pageNum!=1}"><a class="page-link" th:href="@{/(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:${pageInfo.pages})}">上一页</a></li>
                <li class="page-item"><a class="page-link"><span th:text="第+${pageInfo.pageNum}+页"></span></a></li>
                <li class="page-item"><a class="page-link"><span th:text="共+${pageInfo.pages}+页"></span></a></li>
                <li class="page-item" th:if="${pageInfo.pageNum != pageInfo.pages}"><a class="page-link" th:href="@{/(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></li>
                <li class="page-item" th:if="${pageInfo.pageNum != pageInfo.pages}"><a class="page-link" th:href="@{/(pageNum=${pageInfo.pages})}">尾页</a></li>
            </ul>
            </div>
        </div>
        <div name="huati" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
</body>

</html>
