<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="images/fav.ico">
    <link rel="stylesheet" href="css/bootstrap-theme.css" charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" charset="UTF-8">
    <link rel="stylesheet" href="css/matong.css" charset="UTF-8">
    <script src="js/jquery-3.3.1.min.js" charset="UTF-8"></script>
    <script src="js/bootstrap.min.js" charset="UTF-8"></script>
    <script src="js/matong.js" charset="UTF-8"></script>
    <title>发布问题</title>
</head>
<body class="body-background">
<!--引入头部导航模块-->
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div name="fabu" class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>发布</h2>
            <hr>
            <form action="/publish" method="post" id="myform">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要) :</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题...">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填, 请参照右侧提示) :</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签 :</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签,以,分割">
                </div>
                <input id="submit_tj" type="button" value="发布" class="btn btn-success"/>
            </form>
        </div>
        <div name="fabu" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            1.问题标题：请用精简的语言描述您发布的问题，不超过25字<br>
            2.问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料<br>
            3.选择标签：选择一个或者多个合适的标签，用“，”隔开，每个标签不超过10个字
        </div>
    </div>
</div>
</body>
</html>
