<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>码瞳社区-注册</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" /> 

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/login/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login/css/main.css">
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-color: #B3D9D9;">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" action="/userRegister" method="post">
					<span class="login100-form-title p-b-49">注册</span>

					<div class="wrap-input100 validate-input" data-validate="请输入用户名">
						<span class="label-input100"></span>
						<input class="input100" type="text" id="username" name="username" placeholder="请输入用户名" autocomplete="off">
						<span class="focus-input100" data-symbol="&#xf206;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请输入密码">
						<span class="label-input100"></span>
						<input class="input100" type="password" name="password" placeholder="请输入密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="请确认密码">
						<span class="label-input100"></span>
						<input class="input100" type="password" name="sure_password" placeholder="请确认密码">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
					</div>

					<div class="container-login100-form-btn" style="margin-top: 30px;">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="register()">注 册</button>
						</div>
					</div>

					<div class="txt1 text-center p-t-54 p-b-20">
						<a href="/login" class="txt2">登 录</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/login/js/main.js"></script>
	<script src="/js/matong.js"></script>
</body>

</html>
